<% feeds.each(function(feed) {%>

<li>
	<a href='<%= "#/feed/" + feed.id %>'>
		<%= feed.escape('title') %>
	</a>
</li>
<% });  %>
<br>
<br>
<b>Make new feed:</b>
<form class="form">
<label id="feed_input">Feed title:</label>
<input 
	type="text"
	name="title"
	id="feed_input">
</input>
<label id="feed_url">URL:</label>
<input
	type="text"
	name="url"
	id="feed_url">
</input>
<button id="submit">Submit</button>
</form>
